<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zjut.salu.share">

    <!-- 存储卡权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 存储卡的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读写文件的权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 添加可以向外拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".config.CuteTouristShareConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1152170220115735#fangcaoxunyuanandroid" />
        <!-- 设置环信应用的AppKey -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ebeFIMTp7fSurTw5Oztden7SkDP4G9zo" />

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.UserFeedBackActivity" />
        <activity android:name=".activity.UserSettingActivity" />
        <activity android:name=".activity.AboutAuthorActivity" />
        <activity android:name=".activity.AboutAppActivity" />
        <activity android:name=".activity.UserOrderListActivity" />
        <activity android:name=".activity.UserStrategyActivity" />
        <activity android:name=".activity.UserStrategyDetailActivity" />
        <activity android:name=".activity.SkillAcademyActivity" />
        <activity android:name=".activity.SkillAcademyDetailActivity" />
        <activity android:name=".activity.LoveCardActivity" />
        <activity android:name=".activity.LoveCardDetailActivity" />
        <activity android:name=".activity.ProductActivity" />
        <activity android:name=".activity.ProductDetailActivity" />
        <activity android:name=".activity.ProductBigImageActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.UserInfoBigImageActivity" />
        <activity android:name=".activity.PersonalInfoActivity" />
        <activity android:name=".activity.TotalStationSearchActivity" />
        <activity android:name=".activity.UserDataActivity" />
        <activity android:name=".activity.ReplaceNickNameActivity" />
        <activity android:name=".activity.UpdatePasswordActivity" />
        <activity android:name=".activity.ClipImageActivity" />
        <activity android:name=".activity.UpdatePhoneActivity" />
        <activity android:name=".activity.AlbumActivity" />
        <activity android:name=".activity.AlbumDetailActivity" />
        <activity android:name=".activity.DestinationActivity" />
        <activity android:name=".activity.ExchangeCurrencyActivity" />
        <activity android:name=".activity.ExchangeTypeActivity" />
        <activity android:name=".activity.FriendsActivity" />
        <activity android:name=".activity.BestTopicActivity" />
        <activity android:name=".activity.LocaltionWebViewActivity" />
        <activity android:name=".activity.local.RecommendRouteActivity" />
        <activity android:name=".activity.local.RecommendRouteDetailActivity" />
        <activity android:name=".activity.index.LightStrategyActivity" />
        <activity android:name=".activity.destination.ProvinceActivity" />
        <activity android:name=".activity.destination.CityActivity" />
        <activity android:name=".activity.destination.CityIndexActivity" />
        <activity android:name=".activity.destination.CityIndexRecommendActivity" />
        <activity android:name=".activity.destination.TourismAttractionActivity" />
        <activity android:name=".activity.banggumi.BanggumiDetailActivity" />
        <activity android:name=".activity.banggumi.BanggumiPlayerActivity" />
        <activity android:name=".activity.lightstrategy.EditLightStrategy" />
        <activity
            android:name="com.foamtrace.photopicker.PhotoPickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PhotoPickerTheme" />
        <activity
            android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme" />
        <activity android:name=".activity.lightstrategy.DiaryLightStrategyActivity" />
        <activity android:name=".activity.lightstrategy.DiaryLightStrategyDetail" />
        <activity android:name=".activity.banggumi.UploadBanggumeActivity" />
        <activity
            android:name=".activity.mediapicker.activities.MediaPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MediaPickerTheme" />
        <activity android:name=".activity.banggumi.BanggumeActivity" />
        <activity android:name=".activity.qrcode.MyQRCodeActivity" />
        <activity android:name=".activity.qrcode.libzxing.activity.CaptureActivity" />
        <activity android:name=".activity.destination.TourismDetailActivity" />
        <activity android:name=".activity.common.CommonWebActivity" />
        <activity android:name=".activity.destination.AskRouteActivity" />
        <activity android:name=".activity.destination.MapViewActivity" />
        <activity android:name=".activity.destination.CuisionActivity" />
        <activity android:name=".activity.user.UserFavoritiesActivity" />
        <activity android:name=".activity.user.OffLineDownloadActivity" />
        <activity android:name=".activity.user.DownloadActivity" />
        <activity android:name=".activity.user.CommentActivity" />
        <activity android:name=".activity.user.ChatActivity"></activity>
    </application>

</manifest>